.App {
  text-align: center;
}

h1,
h2 {
  padding: 10px;
}

#div {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  height: 600px;
  color: brown;
}
.startDate {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 20px;
}
.endDate {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 20px;
}
