@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    gap: 90px;
}

/* signin & signup */

.logo{
  height: 100px;
  width: 100px;
  margin-left: 140px !important;
}

.form-container {
    margin:  auto;
    width: 1280px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 740px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
    
    
  .form-content-left {
    background: rgba(1, 173, 180, 0.25);
    border-radius: 10px 0 0 10px;
    position: relative;
  }
    
  .form-img {
    width: 310px;
    height: 603px;
    left: 150px;
    top: 137px;
    position: absolute;
  }
     
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: #F8F6E4;
  }
    
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .form-title {
    margin-top: -100px; 
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight:500;
    margin-bottom: 30px;
    width: 282px;
  }
    
  .form-inputs {
    margin-bottom: 1rem;
    width: 305px;
  }
    
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #000;
  }
    
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(60, 66, 87, 0.5);
    box-sizing: border-box;
    /* shadow-small */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
    
    
  .form-input-btn {
    width: 306px;
    height: 56px;
    margin-top: 25px;
    border: 1px solid  #F08324;
    background: #F08324;
    border-radius: 7px;
    margin: 15px;
  }
    
    
  .form-input-btn:hover {
      width: 306px;
      height: 56px;
      margin-top: 25px;
      border: 1px solid  #F08324;
      background: white;
      border-radius: 7px;
      margin: 15px;
    }
  
  .signup-form{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    text-align: center !important;
    margin-left: 5px;
    margin-top: 5px;
  }
    
  .signup-form:hover{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      color: #000000;
      text-align: center !important;
      margin-left: 5px;
      margin-top: 5px;
      background-color: #fff !important;
    }
  
  .or-login-with{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 50px !important;
    margin-bottom: 40px;
  }
    
  .btn-Google,.btn-facebook{
    background: white !important;
    color: #000 !important;
    border-color: black !important;
    width: 120px;
  }
    
  .facebook-icon{
    margin-top: -2px;
  }
  
  .google-icon{
     margin-top: -2px;
  }
    
  .forget-password{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #F08324 !important;
    margin-left: -140px;
  }
  
  .forget-password:hover{
    text-decoration: underline;
  }
  
  .navbar-text{
    color: #000 !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-right:140px;
    margin-top: 25px;
  }
  
  .navbar-text a{
    text-decoration: none;
     color: #F08324  !important;
  }
  

/* =======================================
               PROFILE UPDATE
   ======================================= */

   .profile-update-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px !important;
}

.profile-tabs {
    display: table;
    border-bottom: 0px !important;
    margin: 30px 80px;
}

.tab-content {
    margin: auto 80px;
}

.profile-header {
    vertical-align: middle;
}
@media only screen and (max-width: 1024px) {
    .profile-header {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.profile-tabs > li button {
    border: solid rgba(66, 117, 119, 0);
    border-width: 5px 5px 0 5px !important;
    border-radius: 20px 20px 0 0 !important;
    box-sizing: border-box;
    margin: 0 !important;
    color: #2b2b2b;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto, san-serif;
    font-size: 28px;
}

.profile-tabs > li .active {
    background: #F8F6E4 !important;
    border: solid rgba(1, 173, 180, 0.6) !important;
    border-width: 5px 5px 0 5px !important;
    box-sizing: border-box;
}

.profile-tabs > li .disabled {
    position: relative;
    border: solid rgba(1, 173, 180, 0.6) !important;
    border-width: 0 0 5px 0 !important;
    box-sizing: border-box;
    z-index: 5;
}

.active-profile-update {
    background: #F8F6E4;
    border: solid rgba(1, 173, 180, 0.6);
    border-width: 0 5px 5px 5px;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    margin-bottom: 10%;
    min-height: 735px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.profile-form {
    padding: 60px 0 30px 60px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.07px;
    color: #000;
}

.info-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    width: 305px;
}

.info-form hr {
    margin-top: 34px;
    width: 100%;
    color: #3e3d36;
}

.form-control {
    padding: 9px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px rgba(60, 66, 87, 0.5);
    height: 40px;
}

.form-label {
    margin-bottom: 8px;
}

.form-check {
    margin-bottom: 50px !important;
    font-size: 18px;
    color: #3e3d36;
}

.co-parentCheck .form-check-input {
    border: solid 1.2px #000;
    background-color: transparent !important;
    width: 20px;
    height: 20px;
}

.co-parentCheck .form-check-input:checked {
    background: #000 !important;
    color: #000 !important;
}

input#addChildCheck {
    background: url(/src/img/child-add-2.png);
    border: none;
    width: 20px;
    height: 19px;
    flex-grow: 0;
    margin-top: 20px;
}

.add-child-label {
    margin-left: 8px;
    font-family: Roboto, san-serif;
    font-size: 18px;
    color: #3e3d36;
}

.delete-child {
    width: 100%;
    text-align: right;
}

input#deleteChildCheck {
    background: url(/src/img/child-delete.png);
    border: none;
    width: 18.5px;
    height: 20px;
    flex-grow: 0;
    margin-bottom: -10px;
}

.extra-child .form-inputs {
    margin-top: -15px !important;
}

.profile-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    width: 305px;
    gap: 8px;
}

.profile-nav-buttons> {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px !important;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.back-btn {
    box-sizing: border-box;
    border-radius: 7px !important;
    border: solid 2px #f08324 !important;
    background: transparent !important;
    padding: 15px;
    min-width: 148px;
    font-family: Roboto, sans-serif;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 22px !important;
}

.back-btn:disabled {
    color: rgba(0, 0, 0, 0.5) !important;
}

.next-btn {
    box-sizing: border-box;
    border-radius: 7px !important;
    border: solid 2px #f08324 !important;
    background: #f08324 !important;
    padding: 15px;
    min-width: 148px;
    font-family: Roboto, sans-serif;
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 22px !important;
    color: #000;
}

.back-btn:hover,
.next-btn:hover {
    background-color: white !important;
}

.placeholder-photo {
    background: url(/src/img/ellipse_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    min-height: 735px;
}

.placeholder-photo-bottom {
    align-items: flex-end;
}

.placeholder-photo-center {
    align-items: center;
}

.ellipse-bg {
    width: 732px;
    height: 535px;
    margin: 63px 0 36px 129px;
    background-color: rgba(240, 146, 36, 0.4);
}


/* Home */
.nav-link{
  color: #000 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 6px;
}

.signup-btn{
  background: #F08324 !important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-left: 6px;
  margin-right: 50px;
}
.signup-btn:hover{
  background: white !important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-left: 6px;
  margin-right: 50px;
}

.login-btn{
  background: white !important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-left: 6px;
}

#navbarScrollingDropdown{
  font-size: 16px !important;
  margin-top: 4px;
}

/* dashboard */
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: Roboto;
  margin-top: -65px;
}

.dashboard-sidebar{
  width: 280px;
  background: #ACD7D9 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, .1); */
  /* border: solid rgba(0, 0, 0, .15); */
  /* border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.logo-dashboard{
margin-left: 50px;
margin-bottom: 35px;
}

.dashboard-nav{
  background: #ACD7D9 !important;
  z-index: -1;
margin-right: 0px;
margin-top: 0px;
}

.dropdown-img{
  margin-left: 1400px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.avatar{
  width: 32px;
  height: 38px;
  margin-left: 4px;
  margin-top: -10px;
}

.DashboardCalendar{
  width: 70%;
  margin-left: 20%;
  margin-top: -700px;
}
.addEvent {
  display: flex;
  align-self: flex-end;
  align-content: space-around;
  margin-left: "20px";
  margin-top: "20px";
  margin-bottom: "20px";
}
Dialog {
  display: flex;
  align-content: flex-start;
  background-color: white;
  border: solid gray 1px;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 10px;
  padding: 15px;
  float: left;
}
.DialogTitle {
  color: gray;
  font-family: "Trocchi", serif;
  font-size: 46px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 0 0 40px;
  float: inline-start;
  border-bottom: double gray;
}
.DialogContent {
  padding: 10px 12px;
  text-align: left;
  align-self: flex-start;
  font-size: 13px;
  margin: 10px;
  color: #111;
  font-family: "Trocchi", serif;
  font-size: 16px;
  line-height: 28px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.input {
  margin-left: 10px;
  margin-bottom: 10px;
}
input {
  margin-left: 10px;
  margin-bottom: 10px;
}
input[type="text"]:focus {
  border: 3px solid #555;
  background-color: lightgray;
}
.label {
  color: gray;
  font-family: "Trocchi", serif;
  font-size: 24px;
  font-weight: normal;

  margin: 0;
}
DatePicker {
  font-size: 1em;
}
