
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #2b2b2b;
}

body {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    gap: 90px;
}

/* ======================================
           LOGO & SITE NAVIGATION
   ====================================== */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 3px 5%;
}

nav img {
    height: 90px;
    width: auto;
}

.nav-links {
    display: inline-flex;
    justify-content: center;
    align-content: flex-start;
    margin-left: 20px;
    gap: 32px;
}

.nav-links li {
    display: inline-block;
    font-size: 0;
}

.nav-links li a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.11;
}

.nav-links a:hover {
    font-weight:bold;
}

.nav-links a::before {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* =======================================
    LANGUAGE, LOGIN/SIGNUP MENU & BUTTONS
   ======================================= */

.profile-nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.btn, .btn:focus {
    box-sizing: border-box;
    border-radius: 7px !important;
    color: #000;
    font-weight: 500;
}

.btn-primary {
    background-color: #f08324 !important;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #fff !important;
    color: #000;
}

#langMenu {
    border-radius: 3px;
    font-size: 15px;
}

#langMenu:focus, #langMenu:active {
    border: solid 0.5px #000;
    background-color: #f8f8ee;
}


.signup-btn{
    background: #F08324 !important;
    border: solid 2px #f08324 !important;
    color: #000 !important;
    width: 108px;
    height: 42px;
    margin-left: 6px;
    margin-right: 50px;
}
  .signup-btn:hover{
    background: white !important;
    border: solid 2px #f08324 !important;
    color: #000 !important;
    width: 108px;
    height: 42px;
    margin-left: 6px;
    margin-right: 50px;
}

  .login-btn{
    background: white !important;
    border: solid 2px #f08324 !important;
    color: #000 !important;
    width: 108px;
    height: 42px;
    margin-left: 6px;
}

#btn-signup {
    border: solid 3px #f08324 !important;
    margin-top: 80px;
    padding: 12px;
    width: 202px;
    font-size: 22px;
}

#btn-signup:hover {
    border: solid 3px #f08324 !important;
    margin-top: 80px;
    padding: 12px;
    width: 202px;
    font-size: 22px;
    color: #000;
}

.value{
    margin-top: 60px;
}
/* ======================================
            WIDE BANNER SECTIONS
   ====================================== */

.banner-section {
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 730px;
    width: 100%;
}
.banner-section > .banner-img {
    position: absolute;
    background-color: #f8f8ee;
    width: 100%;
    min-height: 730px;
    z-index: -100;
}

.banner-section#header-banner > .banner-img img {
    position: relative;
    float: right;
    z-index: 0;
}

.banner-section#header-banner h1 {
    margin-bottom: 68px;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.45;
}
.banner-section#middle-banner > img {
    position: absolute;
    float: left;
    z-index: -90;
}

.banner-section#middle-banner > img {
    position: absolute;
    float: left;
    z-index: -90;
}

.banner-section#middle-banner h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 1.45;
}

.right-blurb {
    justify-content: center;
    height: 100%;
    margin-right: 5%;
    margin-left: 60%;
    left: -200px;
    font-size: 36px;
    line-height: 1.67;
    font-weight: normal;
    padding-top: 140px;
}

.left-blurb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 90px);
    padding-left: 5%;
    padding-right: 40%;
    font-size: 36px;
    line-height: 1.39;
    font-weight: normal;
    margin-top: 100px;
}

.left-blurb p {
    padding-right: 17%;
}

/* ======================================
          FEATURE & VALUE SECTIONS
   ====================================== */

.site-section {
    margin: 0 5% 0 5%;
}

.site-section > h1 {
    margin-bottom: 90px;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.97;
}

.site-section > .more-link {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    text-align: right;
}

.site-section a {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.75;
    color: #000;
}

.site-section a:hover {
    font-weight: 500;
}

.features-prev {
    display: flex;
    align-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 21px;
    margin-bottom: 100px;
}

.feature-1 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 40px;
    border-radius: 15px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #9ddee2, 40%, #fff);
    height: 430px;
    margin: auto;
    padding: 32px 10px 30px 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.25;
}

.feature-2 {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #fff, 60%, #9adee1);
    height: 430px;
    margin: auto;
    padding: 0 10px 60px 10px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.25;
}

.feature-3 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #fff, #bddee5);
    width: 100%;
    height: auto;
    margin: 150px auto 0 auto;
    padding-bottom: 60px;
    text-align: center;
}

.video{
  width: 854px; height: 480px; background: #c4c4c4; margin-top: -60px;
}
/* =============== FOOTER =============== */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0 0;
    padding: 35px 20% 35px 20%;
    height: 100px;
    background-color: #f08324;
}

footer a, footer a:hover {
    font-size: 18px;
    text-decoration: none;
    line-height: 1.11;
    color: #000;
}


/* signin & signup */
.logo{
  height: 100px;
  width: 100px;
  margin-left: 140px !important;
}

.form-container {
    margin:  auto;
    width: 1280px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 740px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
    
    
  .form-content-left {
    background: rgba(1, 173, 180, 0.25);
    border-radius: 10px 0 0 10px;
    position: relative;
  }
    
  .form-img {
    width: 310px;
    height: 603px;
    left: 150px;
    top: 137px;
    position: absolute;
  }
     
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: #F8F6E4;
  }
    
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .form-title {
    margin-top: -100px; 
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight:500;
    margin-bottom: 30px;
    width: 282px;
  }
    
  .form-inputs {
    margin-bottom: 1rem;
    width: 305px;
  }
    
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #000;
  }
    
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(60, 66, 87, 0.5);
    box-sizing: border-box;
    /* shadow-small */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
    
    
  .form-input-btn {
    width: 306px;
    height: 56px;
    margin-top: 25px;
    border: 1px solid  #F08324;
    background: #F08324;
    border-radius: 7px;
    margin: 15px;
  }
    
    
  .form-input-btn:hover {
      width: 306px;
      height: 56px;
      margin-top: 25px;
      border: 1px solid  #F08324;
      background: white;
      border-radius: 7px;
      margin: 15px;
    }
  
  .signup-form{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    text-align: center !important;
    margin-left: 5px;
    margin-top: 5px;
  }
    
  .signup-form:hover{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      color: #000000;
      text-align: center !important;
      margin-left: 5px;
      margin-top: 5px;
      background-color: #fff !important;
    }
  
  .or-login-with{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 50px !important;
    margin-bottom: 40px;
  }
    
  .btn-Google,.btn-facebook{
    background: white !important;
    color: #000 !important;
    border-color: black !important;
    width: 120px;
  }
    
  .facebook-icon{
    margin-top: -2px;
  }
  
  .google-icon{
     margin-top: -2px;
  }
    
  .forget-password{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #F08324 !important;
    margin-left: -140px;
  }
  
  .forget-password:hover{
    text-decoration: underline;
  }
  
  .navbar-text{
    color: #000 !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-right:140px;
    margin-top: 25px;
  }
  
  .navbar-text a{
    text-decoration: none;
     color: #F08324  !important;
  }
  

  /* update profile */

.site-header {
  display: flex;
  align-items: center;
  margin: 20px 80px;
  gap: 15px;
}

.header-title {
  font-size: 36px;
  line-height: 42px;
}

.profile-tabs {
  margin: 80px 80px;
}

.profile-header {
  vertical-align: middle;
  font-size: 28px;
  line-height: 50px;
}
@media only screen and (max-width: 1024px) {
  .profile-header {
      font-size: 1rem;
      line-height: 1.5rem;
  }
}

.profile-tabs > .nav > li > button {
  border: solid rgba(66, 117, 119, 0);
  border-width: 5px 5px 0 5px;
  border-radius: 20px 20px 0 0;
  background-clip: padding-box;
  color: #2b2b2b;
}

#accountInfoTab > li > button.active {
  background: #F8F6E4;
  border: solid rgba(1, 173, 180, 0.6);
  border-width: 5px 5px 0 5px;
  box-sizing: border-box;
}

#accountInfoTab > li > button.disabled {
  border: solid rgba(1, 173, 180, 0.6);
  border-width: 0 0 5px 0;
  box-sizing: border-box;
}

.profile-tabs > .tab-content > .tab-pane {
  background: #F8F6E4;
  border: solid rgba(1, 173, 180, 0.6);
  border-width: 0 5px 5px 5px;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  margin-bottom: 10%;
  min-height: 735px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: 0.4%;
  margin-right: -0.4%;;
}

.profile-form {
  padding: 60px 100px 30px 60px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.07px;
  color: #000;
}

.info-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}

.form-control {
  padding: 9px 12px;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px rgba(60, 66, 87, 0.5);
  height: 40px;
}

.form-label {
  margin-bottom: 8px;
}

.form-check {
  margin-top: 50px;
}

.form-check-input {
  flex-grow: 0;
  margin: 2px 10px 1px 0;
  border: solid 1.2px #3e3d36;
  background-color: transparent !important;
  width: 18px;
  height: 18px;
}

.form-check-label {
margin-left: 10px;
font-size: 18px;
color: #3e3d36;
}

.co-parent-email-input {
  margin-top: 30px;
}

input#childCheck {
  background:url(/src/img/child-add-1.png); 
  background-color: #3e3d36;
  border: none;
  width: 20px;
  height: 19px;
  flex-grow: 0;
}

input#addChildCheck {
  background:url(/src/img/child-add-2.png); 
  background-color: #3e3d36;
  border: none;
  width: 20px;
  height: 19px;
  flex-grow: 0;
  margin-top: 20px;
}

.profile-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  gap: 8px;
}

.profile-nav-buttons > a {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px !important;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  flex: 1;
  flex-grow: 1;
}

#back-btn{
  border: solid 2px #f08324 !important;
  background-color: #FCF9EE !important;
  color: rgba(0, 0, 0, 0.5);
}

#back-btn:hover {
border: solid 2px #f08324 !important;
background-color: #fff !important;
color: rgba(0, 0, 0, 0.5);
}


#next-btn{
  background-color: #f08324 !important;
  color: #000;
}

#next-btn:hover {
background-color: white !important;
border: solid 2px #f08324 !important;
color: #000;
}


.placeholder-photo {
  background: url(/src/img/ellipse_2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  min-height: 735px;
}

.ellipse-bg {
  width: 732px;
  height: 535px;
  margin: 63px 0 36px 129px;
  background-color: rgba(240, 146, 36, 0.4);
}


/* Home */
.nav-link{
  color: #000 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 6px;
}

.signup-btn{
  background: #F08324 !important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-left: 6px;
  margin-right: 50px;
}
.signup-btn:hover{
  background: white !important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-left: 6px;
  margin-right: 50px;
}

.login-btn{
  background: white !important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-left: 6px;
}

#navbarScrollingDropdown{
  font-size: 16px !important;
  margin-top: 4px;
}

/* dashboard */
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: Roboto;
  margin-top: -65px;
}

.dashboard-sidebar{
  width: 280px;
  background: #ACD7D9 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, .1); */
  /* border: solid rgba(0, 0, 0, .15); */
  /* border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.logo-dashboard{
margin-left: 50px;
margin-bottom: 35px;
}

.dashboard-nav{
  background: #ACD7D9 !important;
  z-index: -1;
margin-right: 0px;
margin-top: 0px;
}

.dropdown-img{
  margin-left: 1400px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.avatar{
  width: 32px;
  height: 38px;
  margin-left: 4px;
  margin-top: -10px;
}

/*Style for dashboard-childinfo*/
.dashboardChildinfo{
  width: 50%;
  margin-left: 20%;
  margin-top: -800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.childInfoBox{
  width: 50%;
  margin-left: 20%;
  height: 400px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #ACD7D9;
  background: #F8F6E4;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.editButton{
  height: 35px;
  width: 70px;
}

.input-height{
  height: 25px;
}

.input-width{
  width: 225px;
}

.space-around{
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-one{
  width: 100px;
}

.input-two{
  width: 500px;
}